*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	
	background-color: white;
	/* overflow: hidden; */
}
.bg-blue{
	background-color: #000F2C;
}
.text-blue{
	color: #000F2C;
}
.text-white {
    color: #fff;
}

.container-icon {
    font-size: 20px;
    /* animation: bajar-subir 1s ease infinite; */
}
/* ------------------------- */
/* Animaciones */
/* ------------------------- */
/* @keyframes bajar-subir {
    0% { transform: translateY(20px); }
    25% { transform: translateY(0); }
    100% { transform: translateY(20px); }
} */

/* .portafolio{
	width: 100%;
	max-width: 1400px;
	margin: auto;
}

/* Efecto hover sobre las imágenes */
.portafolio-container{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width:100%;
}

.portafolio-item{
	width:50%;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center
}

.portafolio-img{
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.portafolio-text{
	position: absolute;
	bottom: 0;
    top: 40%;
    width: 60%;

	/* background: rgba(0,0,0,0.7); */
	color: #fff;

	-webkit-transform: translateY(100%);

	-ms-transform: translateY(100%);

	transform: translateY(100%);

	-webkit-transition: all 0.5s ease-out;

	transition: all 0.5s ease-out;
}

.portafolio-text p{
	text-align: justify;
}

.portafolio-item:hover .portafolio-text{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.portafolio-item:hover .portafolio-img{
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

/*	SECCIONES	*/
.section {
	min-width: 100%;
	/* height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.section p{
    font-size: 1.3em;
    line-height: 1.4em;
}

/*	*/
.wrap{
	width: 90%;
	max-width: 1150px;
	margin: auto;
}

.main{
	height: 100%;
	color: white;
}

header{
	position: fixed;
	width: 100%;
	z-index: 1; /* para que se posicione delante de los demas elementos */
}

header .wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}

header .btn-menu{
	font-size: 23px;
	cursor: pointer;
}

.title-menu{
	display: none;
	font-size: 23px;
	color: #000F2C;
}


/*.container{
	margin-top: 12%;
}*/

/*------ MENU DESPLEGABLE EQUIPO----*/
.main-container{
width:100%;
margin:0 auto;
padding:20px;

}

.btn-item{
background:#fff;
display:block;
color:#000F2C;
padding:8px;
font-weight:bold;
border-bottom:1px solid rgba(167,166,166,0.5);
cursor: pointer;
}

.item-content{
background:#fff;
overflow:hidden;
max-height:0px;
opacity:0;
transition:0.4s ease-in-out;
}

.active + .item-content{
max-height:1000px;
padding:10px;
opacity:1;

}

.item.inactive{
display:none;
}


.btn-item.active{
background:#fff;
}

.btn-item:after{
content:'\002b';
float:right;
}

.btn-item.active:after{
content:'\02212';
}


.profile{
	display: flex;
	height: auto;
	justify-content: center;
    align-items: center;
}

.profile p{
    font-size: 1.3em;
    line-height: 1.4em;
    /* padding-bottom: 20px; */
}




/* FULL MENU ===================*/

.full-menu{
	position: fixed;
	top: 0;
	left: -100%;

	width: 100%;
	height: 100vh;
	background: #fff;

	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.full-menu .wrap{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.full-menu .wrap .navegacion{
	flex-basis: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}

.full-menu .navegacion ul{
	list-style:none;
}

.full-menu .navegacion ul li{
	margin-top: -5px;
	margin-bottom: 10px;
}

.full-menu .navegacion ul li a{
	text-decoration: none;
	font-size: 50px;
	color: #000F2C;
}


.full-menu .navegacion ul li a:hover{
	text-decoration: underline !important;
}

.full-menu .wrap .menu-text{
	flex-basis: 0;
	flex-grow: 1;

	font-size: 15px;
	color: #000F2C;
	font-weight: 600;
	text-align: left;
}

.info-contact{
	padding-bottom: 25px;
	font-size: 1.1rem;
}

#email::placeholder{
	color: #000F2C;
	font-size:20px;
	}
#name::placeholder{
	color: #000F2C;
	font-size:20px;
	}

#msg::placeholder{
	color: #000F2C;
	font-size:20px;
	}

#name,#email,#msg::-webkit-input-placeholder {
	color: #000F2C;
	font-size:20px;
}
#name,#email,#msg::-moz-placeholder {
		color: #000F2C;
		font-size:20px;
}
#name,#email,#msg:-ms-input-placeholder {
	color: #000F2C;
	font-size:20px;
}
#name,#email,#msg:-moz-placeholder {
	color: #000F2C;
	font-size:20px;
}

.border-input{
	border-style: none none solid none;
}


#servicios .flex-control-nav li a{
	display: inline-block;
	position: relative;
	top: 5px;
	width: 7px;
	height: 7px;
	background: #000F2C;
	border-radius: 50%;
	text-indent: -9999px;
}

#servicios .flex-control-nav li a.flex-active{
	border: 1px solid #000F2C;
	background-color:#fff;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);

}

#servicios .flex-control-nav.flex-control-paging{
	right: 100%;
	top: 20%;
	left: auto;

	list-style: none;
	position: absolute;
}

/* RESPONSIVE ========== */

/*Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
   @media screen and (max-width: 767px) {
	.main{
		height: auto;
	}

	.caption-main h1{
		font-size: 60px;
	}

	/*Full menu*/
	.full-menu .navegacion ul li a{
		font-size: 20px;
	}

	.full-menu .menu-text p{
		font-size: 14px;
		font-weight: 400;
	}

	.full-menu .wrap {
  	margin-top:40px !important;
  }
   
   .menu-text h2{
	font-size: 1.1rem;
	margin: 0;

   }

   .menu-text br{
   	 line-height: 5px;
   }

 .portafolio-item{
	width:65%;
 
  }

  .portafolio-text{

    top: 30%;
    -webkit-transform: translateY(30%);

	-ms-transform: translateY(30%);

	transform: translateY(30%);
  }

  .portafolio-text h1{
    font-size: 1.2em;
    }

  .profile p {
    font-size: 1.1em;
    line-height: 0.5em;
    /* padding-bottom: 10px; */
   }

    .info-contact{
	 font-size: 1.0em;
	 padding-bottom: 20px;
	}

	.section p {
    font-size: 1.1em;
    }
		

	#inicio .flexslider{
		width: 95%;
		max-width: 250px;
		margin: 200px auto 0;

	}
	#servicios .flexslider{
		width: 95%;
		max-width: 300px;
		margin: 100px auto 0;
		top: 100px;

	}
	#inicio .flex-control-nav.flex-control-paging{
		right: 250px;
		/* width: 40%; */
		top: 45px;
	}
	
	#inicio .flex-direction-nav a{
		opacity: 1;
	}

	#inicio .flex-direction-nav .flex-prev{
		left: 15px;
	}

	#inicio .flex-direction-nav .flex-next{
		right: 15px;
	}

	.caption h2{
		font-size: 50px;
	}

	h2{
		font-size: calc(1.325rem + .9vw);
		margin-top: 0%;
	}
	
	#servicios .serv{
		top: 200px;
	}

}
/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) {
	.main{
		height: 600px;
	}

	.caption-main h1{
		font-size: 50px;
	}

	.caption-main .btn-view{
		width: 180px;
		padding: 10px 0px;
		margin: 20px auto;

		font-size: 18px;
	}

	.full-menu .navegacion ul li a {
	 font-size:20px;
    
     }

.full-menu .wrap {
  	margin-top:40px !important;
  }

 .portafolio-item{
	width:100%;

}
 .portafolio-text{

    top: 30%;
    -webkit-transform: translateY(30%);

	-ms-transform: translateY(30%);

	transform: translateY(30%);
}

.portafolio-text h1{
font-size: 1.2em;
}

	#inicio .flexslider{
		width: 95%;
		max-width: 400px;
		margin-top: 100px;

	}
	#servicios .flexslider{
		width: 95%;
		max-width: 400px;
		margin-top: 10px;
		top: 10px;

	}
	#inicio .flex-control-nav.flex-control-paging{
		width: 120px;
		padding: 20px 0px;
		
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: center;
		list-style: none;
		position: absolute;
		bottom: -50px;
		
		border-bottom-width: 0px;
		right: auto;
		margin-bottom: 0px;
		top: auto;
	
		}
		
		#servicios .flex-control-nav.flex-control-paging{
			width: 120px;
			padding: 20px 0px;
			
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: center;
			list-style: none;
			position: absolute;
			bottom: -10px;
			
			border-bottom-width: 0px;
			right: auto;
			margin-bottom: 0px;
			top: auto;
		}
		#inicio .flex-control-nav li{
			display: inline-block;
			margin: 0 5px;
		}
	
		h2{
			font-size: calc(1.325rem + .9vw);
			margin-top: 50px;
		}
		#servicios .serv{
			top: 10px;
		}
		#servicios .flexslider h2{
			margin-top: 10px;
		}

		.profile p {
		    font-size: 1.1em;
		    line-height: 2.3em;
		    /* padding-bottom: 20px; */
		 }

		 .info-contact{
			font-size: 1.0em;
		}
		
}

/*Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
	#inicio .flex-control-nav.flex-control-paging{
		right: 100%;
		width: 40%;
	}
	h2{
		font-size: calc(1.325rem + .9vw);
	}

	#servicios .serv{
		top: 200px;
	}
	#servicios .flexslider{
		/* width: 95%;
		max-width: 400px;
		margin-top: 10px; */
		top: 100px;

	}

}